127.0.0.1   localhost

{% for host in ansible_play_hosts %}
{{ pacemaker_cluster_hosts[loop.index0] | regex_replace(',\\d{1,3}(\\.\\d{1,3}){3}','') if pacemaker_cluster_hosts[loop.index0] is defined else hostvars[host].ansible_host }}    {{ host }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
